@import "fonts/font";
@import "variables";


// Global styles
html {
  background-image: url("../public/cp_background.jpg");
  background-size: cover;
  font-family: 'Montserrat Light', sans-serif;
}

* {
  box-sizing : border-box;
}

html, body, #root {
  margin      : 0;
  padding     : 0;
}

html, body, #root {
  height : 100%;
}

#root {
  display        : flex;
  flex-direction : column;
  padding-top    : 7em; // Height of the header
}

::-webkit-scrollbar {
  width : 0;
}

h2 {
  font-size: 32px;
}