@import "src/styles/variables";
@import "src/styles/main";


.link {
  color           : $white;
  text-decoration : none;
}

.button {
  padding         : 10px;
  border          : none;
  border-radius   : 5px;
  cursor          : pointer;
  font-size       : 16px;
  font-weight     : 600;
  transition      : background-color 0.3s;
  display         : flex;
  justify-content : center;
  align-items     : center;
  font-family     : "Beon", sans-serif;
  width           : 100%;
}

.header {
  background : none;
  color      : white;

  &:hover,
  &:focus {
  }
}

.primary {
  width      : 100%;
  background : none;
  color      : $white;
  border     : 2px solid $white;

  &:hover {
    background  : $white;
    color       : #000;
    text-shadow : none;
  }
}

.activated {
  background  : $white;
  color       : #000;
  text-shadow : none;
  border: 2px solid #fff;
}